<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="session">
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pacsdb</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">salete06</property>
    <mapping class="br.com.agrsystem.model.entities.Series"/>
    <mapping class="br.com.agrsystem.model.entities.Instance"/>
    <mapping class="br.com.agrsystem.model.entities.StatusLaudo"/>
    <mapping class="br.com.agrsystem.model.entities.Study"/>
    <mapping class="br.com.agrsystem.model.entities.Patient"/>
    <mapping class="br.com.agrsystem.model.entities.Files"/>
    <mapping class="br.com.agrsystem.model.entities.Users"/>
    <mapping class="br.com.agrsystem.model.entities.Roles"/>
  </session-factory>
</hibernate-configuration>
